* {
    box-sizing: border-box;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    html, body {
        height: 100%; // IE Hack to correct vertical sizing behavior. https://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview
    }
}

body { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    min-height: 100vh; 
    margin: 0; 
    padding: 0; 
} 

section { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1 0 auto; 
    -ms-flex: 1 0 auto; 
    flex: 1 0 auto; 
} 

header {
    padding: 0.5rem 0 0 1rem;
}

main { 
    -webkit-box-flex: 85; 
    -webkit-flex: 85 0 1vw; 
    -ms-flex: 85 0 1vw; 
    flex: 85 0 1vw; 
    padding: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

main *:not(.comparison) {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

main :target { // not really layout!
    -webkit-animation: color-change 0.25s ease-in 2 alternate; 
    animation: color-change 0.25s ease-in 2 alternate; 
} 

aside { 
    -webkit-box-flex: 15; 
    -webkit-flex: 15 0 1vw; 
    -ms-flex: 15 0 1vw; 
    flex: 15 0 1vw; 
    padding-left: 1rem; 
} 

aside nav { 
    position: -webkit-sticky; 
    position: sticky; 
    top: 1em; 
} 

footer {
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

@media only screen and (max-width: 1023px) {
    aside {
        display: none;
    }
}