header nav a {
    padding: 0.3rem 0.75rem;
    background-color: $liteblue;
    color: $link-color;
    border-radius: 0.4rem;    
}

header nav a:hover {
    text-decoration: none;
}

header nav a:hover svg > path {
    fill: $link-color-hover;
}

header nav ul {
    padding: 0;
}

header nav li {
    display: inline;
}


header nav svg {
    vertical-align: middle;
}

header nav .spacer {
    color: $white;
    vertical-align: middle;
}